body{
    background-color: aqua;
}
#par2{background-color: antiquewhite;}
.par{background-color: rgb(229, 229, 39);}
li a{background-color:coral;}

.qcclink:visited{
    background-color: aquamarine;
}
.qcclink:hover{
    background-color: rgb(21, 91, 67);
}
.qcclink:active{
    background-color: rgb(201, 215, 42);
}
.hiddenpar{
    color: blueviolet;
    display: none;
}
.tooltipDiv:hover .hiddenPat{
    display:block;
}
/*--text and font properties--*/
.subtitle{
    font-family: broadway;
}
.shadow{
    width: 300px;
    height: 100px;
    text-align:center;
    background-color: aqua;
    box-shadow: -10px 0px 5px orange;
}
.hoverMe{
    background-color: coral; 
    color: azure;
    box-shadow: 0px 0px 10px 2px gray;
    display: inline-block;
    width:30%;
    text-align: center
}
.hoverMe:hover{
    box-shadow: none;
}
/*card*/
.card{
    width: 30%;
    box-shadow: 0px 0px 3px 2px gray, 2px 5 px 3px lightgray;
    border-radius: 10px;
    overflow: hidden;
}
.imgcard{
    width: 100%;
}
.cardInfo{
    text-align: center;
}
.card:hover{box-shadow: 0px 0px 3px 1px red;}

